.container-slider{
  margin-top: 1rem;
}

.home-body{
  display: flex;
  justify-content: center;
}

.slider-img{
    width: 100%;
    height: 400px;
}

.slick-list{
  margin-inline: 2.5rem;
  border-radius: .5rem;
}

.container-slider{
    height: 400px;
}
.slick-prev {
    left: 5px; 
    z-index: 99;
  }
  
.slick-prev::before {
    content: '\2190'; 
    font-size: 30px; 
    color: white; 
  }
  .slick-next {
    right: 15px; 
    z-index: 99;
  }
  .slick-next::before {
    content: '\2192'; 
    font-size: 30px; 
    color: white; 
  }
  .slider-title{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 3rem;
    text-align: start;
  }
  .slider-description{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2rem;
  }

  .slick-slider{
    height: 400px;
  }

  .slider-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10%;
    padding-left: 1%;
  }

.slick-dots li.slick-active button::before{
  color: white;
}

.slick-dots li button::before{
  font-size: 22px;
  color: white;
  margin-top: .5rem;
}