/* leaflet-heat-custom.css */

/* Cambia el color de la capa de calor según tus preferencias */
.leaflet-heatmap-layer {
    fill-opacity: 0.6;
    stroke: none;
  }
  
  /* Define el gradiente de colores para la capa de calor */
  .leaflet-heatmap-layer.leaflet-heatmap-tmp {
    background: #00ffff;
    background: -moz-linear-gradient(top, #00ffff 0%, #0000ff 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #00ffff), color-stop(100%, #0000ff));
    background: -webkit-linear-gradient(top, #00ffff 0%, #0000ff 100%);
    background: -o-linear-gradient(top, #00ffff 0%, #0000ff 100%);
    background: -ms-linear-gradient(top, #00ffff 0%, #0000ff 100%);
    background: linear-gradient(to bottom, #00ffff 0%, #0000ff 100%);
  }
  