.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.contenedorBotones{
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seccionUsuarios{
  position: absolute;
  top: 50%;
  left: 10%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: .5rem;
  padding: 1rem;
  transform: translate(0, -50%);
}

.seccionCiudades{
  position: absolute;
  top: 50%;
  right: 10%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: .5rem;
  padding: 1rem;
  transform: translate(0, -50%);
}

.loading{
  margin-block: .5rem;
  margin-left: 50%;
  transform: translate(-50%, 0);
}