.App {
  text-align: center;
  background-color: #1E1F22;
}

.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: row;
  background: #313338;
  box-shadow: 0px 4px 4px 0px rgb(0 0 0);
  position: sticky;
  top: 0;
  z-index: 500;
  height: 84px;
}

.App-header-title {
  .App-header-title-logo {
    height: 2rem;
  }
}

.contenedorBotones {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seccionUsuarios {
  position: absolute;
  top: 50%;
  left: 10%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: .5rem;
  padding: 1rem;
  transform: translate(0, -50%);
}

.seccionCiudades {
  position: absolute;
  top: 50%;
  right: 10%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: .5rem;
  padding: 1rem;
  transform: translate(0, -50%);
}

.loading {
  margin-block: .5rem;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

.Button-profile {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
}

.round-button-menu {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
}

.img-button-menu {
  height: 2rem;
}

.Button-profile-close {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 45px;
  font-size: 20px;
  cursor: pointer;
  margin-right: 1rem;
  float: inline-end;
}

.img-button-profile-close {
  width: 25px;
  height: 25px;
}

.ReactModalPortal {
  width: 15rem;
  position: absolute;
  right: 0rem;
}

.ReactModalPortal {
  box-shadow: 0 0 10px;
}

.Label-login {
  color: black;
  font-size: 1rem;
}

.Title-login {
  color: black;
  font-size: 1rem;
}

.option-button-menu {
  width: 100%;
  border-bottom: 1px solid #00000021;
  height: 1rem;
  padding: 1rem 0rem 1rem 0rem;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  color: #FFF;
  font-family: Noto Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  border-radius: 2.8px;

  .img-button-menu {
    width: 16.8px;
    height: 16.8px;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .img-button-menu-incidencia {
    width: 16.8px;
    height: 16.8px;
    margin-left: 1rem;
    margin-right: 1rem;
    filter: invert(1);
  }

  .option-button-menu-text {}
}

.option-button-menu:hover {
  border-radius: 2.8px;
  background: #56AF85;
  cursor: pointer;
}

/*LOGIN*/
.Container-login {
  .Container-login-inactive {
    .Title-login {

    }
    .Container-form-login-div{
      width: 80%;
    margin: 0 auto;
    border-bottom: 2px solid white;
    .Container-form-login {
      width: 100%;
      margin: 0 auto;
      .Label-login {
        width: 100%;

        .title-Input-login {}

        .Input-login-user {
          background: url("https://cdn-icons-png.flaticon.com/512/9424/9424691.png") no-repeat;
          background-size: .7rem;
          background-position-y: center;
          background-position-x: .5rem;
          padding-left: 1.5rem;
          padding-right: -1.5rem;
          background-color: #777;
          filter: invert(100%);
          border: none;
          border-radius: .3rem;
          padding-block: .5rem;
          width: 89%;
          height: 25px;
        }

        .Input-login-password {
          background: url("https://cdn-icons-png.flaticon.com/512/159/159069.png") no-repeat;
          background-size: .7rem;
          background-position-y: center;
          background-position-x: .5rem;
          padding-left: 1.5rem;
          padding-right: -1.5rem;
          background-color: #777;
          filter: invert(100%);
          border: none;
          border-radius: .3rem;
          padding-block: .5rem;
          width: 89%;
          height: 25px;
        }
        .Input-login-nombre {
          background: url("https://cdn-icons-png.flaticon.com/512/159/159069.png") no-repeat;
          background-size: .7rem;
          background-position-y: center;
          background-position-x: .5rem;
          padding-left: 1.5rem;
          padding-right: -1.5rem;
          background-color: #777;
          filter: invert(100%);
          border: none;
          border-radius: .3rem;
          padding-block: .5rem;
          width: 89%;
          height: 25px;
        }
        .Input-login-apellido {
          background: url("https://cdn-icons-png.flaticon.com/512/159/159069.png") no-repeat;
          background-size: .7rem;
          background-position-y: center;
          background-position-x: .5rem;
          padding-left: 1.5rem;
          padding-right: -1.5rem;
          background-color: #777;
          filter: invert(100%);
          border: none;
          border-radius: .3rem;
          padding-block: .5rem;
          width: 89%;
          height: 25px;
        }
        .Input-login-colegio{
          
        }
        .Input-login-curso {
          background: url("https://cdn-icons-png.flaticon.com/512/159/159069.png") no-repeat;
          background-size: .7rem;
          background-position-y: center;
          background-position-x: .5rem;
          padding-left: 1.5rem;
          padding-right: -1.5rem;
          background-color: #777;
          filter: invert(100%);
          border: none;
          border-radius: .3rem;
          padding-block: .5rem;
          width: 100%;
          height: 42px;
        }
        .Input-login-email {
          background: url("https://cdn-icons-png.flaticon.com/512/159/159069.png") no-repeat;
          background-size: .7rem;
          background-position-y: center;
          background-position-x: .5rem;
          padding-left: 1.5rem;
          padding-right: -1.5rem;
          background-color: #777;
          filter: invert(100%);
          border: none;
          border-radius: .3rem;
          padding-block: .5rem;
          width: 89%;
          height: 25px;
        }
      }

      .btn-enviar-form-login {
        width: 100%;
        padding-inline: 0.75rem;
        background: #56AF85;
        border: none;
        border-radius: 0.3rem;
        padding-block: 0.5rem;
        color: white;
        cursor: pointer;
      }
    }
    .btn-restablecer-form-login{
      margin-bottom: 2rem;
      width: 100%;
        padding-inline: 0.75rem;
        background: #314196;;
        border: none;
        border-radius: 0.3rem;
        padding-block: 0.5rem;
        color: white;
        cursor: pointer;
    }
    .Container-login-resetpass{
      .title-resetpass{
        font-size: 1rem;
      }
      .Input-login-resetpass{
        background: url("https://cdn-icons-png.flaticon.com/512/2258/2258570.png") no-repeat;
        background-size: .7rem;
        background-position-y: center;
        background-position-x: .5rem;
        padding-left: 1.5rem;
        padding-right: -1.5rem;
        background-color: #777;
        filter: invert(100%);
        border: none;
        border-radius: .3rem;
        padding-block: .5rem;
        width: 89%;
        height: 25px;
      }
      .btn-login-resetpass{
        margin-bottom: 2rem;
        width: 100%;
          padding-inline: 0.75rem;
          background: #314196;
          border: none;
          border-radius: 0.3rem;
          padding-block: 0.5rem;
          color: white;
          cursor: pointer;
      }
    }
   }
  }
  .btn-quiero-restablecer{
    margin-bottom: 2rem;
        width: 80%;
          padding-inline: 0.75rem;
          background: #2F5A73;
          border: none;
          border-radius: 0.3rem;
          padding-block: 0.5rem;
          color: white;
          cursor: pointer;
  }
  .Container-is-student{
    display: flex;
    .text-is-student{
      font-size: 1rem;
    }
    .text-is-student:hover{
      background: none;
    }
    .checkbox-is-student{

    }
  }
}