.Container-dashboard {
  background-color: #1E1F22;
}
.Container-dashboard .Title-dashboard {
  color: #F2F3F5;
  font-family: Noto Sans;
  font-size: 14.7px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* 142.857% */
}
.Container-dashboard .Container-incidencias-map {
  height: 400px;
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
}
.Container-dashboard .Container-incidencias-map .Container-incidencias {
  width: 40%;
  border: 2px solid #ccc;
  overflow: auto;
  border-radius: 10px;
}
.Container-dashboard .Container-incidencias-map .Container-incidencias .Container-incidencias-filtro {
  margin-bottom: 2rem;
}
.Container-dashboard .Container-incidencias-map .Container-incidencias .Container-incidencias-filtro .title-incidencias-filtro {
  color: white;
  margin: 1rem;
}
.Container-dashboard .Container-incidencias-map .Container-incidencias .Container-incidencias-filtro .body-incidencias-filtro {
  display: flex;
  justify-content: space-around;
}
.Container-dashboard .Container-incidencias-map .Container-incidencias .Container-incidencias-filtro .body-incidencias-filtro .input-incidencias-filtro {
  background-size: 0.7rem;
  background-position-y: center;
  background-position-x: 0.5rem;
  padding-left: 1.5rem;
  padding-right: -1.5rem;
  background-color: #777;
  filter: invert(100%);
  border: none;
  border-radius: 0.3rem;
  padding-block: 0.5rem rem;
}
.Container-dashboard .Container-incidencias-map .Container-incidencias .Container-incidencias-filtro .body-incidencias-filtro .input-incidencias-filtro::placeholder {
  color: white;
  filter: invert(100%);
}
.Container-dashboard .Container-incidencias-map .Container-incidencias .Container-incidencias-lista .Container-incidencias-li {
  width: 95%;
  height: 100px;
  display: flex;
  background-color: #f0f0f0;
  list-style: none;
  flex-direction: column;
  margin: 0.7rem 0rem 0.7rem 0.7rem;
  background-color: #3E3F44;
  color: #F2F3F5;
  border-radius: 5px;
}
.Container-dashboard .Container-incidencias-map .Container-incidencias .Container-incidencias-lista .Container-incidencias-li .titulo-incidencia {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}
.Container-dashboard .Container-incidencias-map .Container-incidencias .Container-incidencias-lista .Container-incidencias-li .descripcion-incidencia {
  font-size: 0.7rem;
  margin: 0.5rem;
}
.Container-dashboard .Container-incidencias-map .Container-incidencias .Container-incidencias-lista .Container-incidencias-li .Container-buttons-incidencia {
  display: flex;
  justify-content: center;
}
.Container-dashboard .Container-incidencias-map .Container-incidencias .Container-incidencias-lista .Container-incidencias-li .Container-buttons-incidencia .Container-img-incidencia {
  margin-right: 1rem;
}
.Container-dashboard .Container-incidencias-map .Container-incidencias .Container-incidencias-lista .Container-incidencias-li .Container-buttons-incidencia .Container-img-incidencia .img-incidencia {
  width: 1rem;
  height: 1rem;
  filter: invert(1);
}
.Container-dashboard .Container-incidencias-map .Container-incidencias .Container-incidencias-lista .Container-incidencias-li .Container-buttons-incidencia .btn-ver-incidencia {
  font-size: 0.6rem;
}
.Container-dashboard .Container-incidencias-map .Container-map {
  width: 60%;
  margin-left: 0.7rem;
}
.Container-dashboard .Container-incidencias-map .Container-map .leaflet-container {
  height: 100%;
  border-radius: 10px;
}
.Container-dashboard .Container-incidencias-map .Container-map .leaflet-container .leaflet-control-container .leaflet-bottom {
  display: none;
}
.Container-dashboard .Container-incidencias-map .Container-map .leaflet-container .leaflet-control-container .leaflet-left {
  z-index: 499;
}
.Container-dashboard .Container-incidencias-niveles {
  background-color: #1E1F22;
}
.Container-dashboard .Container-incidencias::-webkit-scrollbar {
  width: 25px;
  border-radius: 10px;
}
.Container-dashboard .Container-incidencias::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px rgba(0, 128, 0, 0);
  border: solid 7px transparent;
}
.Container-dashboard .Container-incidencias::-webkit-scrollbar-track-piece {
  background-color: #1E1F22;
  border-radius: 10px;
}
.Container-dashboard .Container-incidencias::-webkit-scrollbar-thumb {
  border-radius: 20px;
  box-shadow: inset 0 0 10px 10px #A7A9B1;
  border: solid 7px transparent;
  height: 50px;
}
.Container-dashboard .Container-incidencias::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 10px 10px #6f7075;
  border: solid 7px transparent;
  border-radius: 20px;
  height: 50px;
}

/*# sourceMappingURL=dashboard.css.map */
